In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [2]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
# df = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz', nrows=100)

# explicitly state the column datatypes as pandas might read them differently
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

# instead of reading the entire dataset and loading in postgres, we would do use chunking strategy
# df = pd.read_csv(
#     prefix + 'yellow_tripdata_2021-01.csv.gz',
#     nrows=100,
#     dtype=dtype,
#     parse_dates=parse_dates
# )
# display(df.head())

# get the schema of the yellow_taxi_data table to be created
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

# create an empty table in the postgres database ny-taxi-db
# df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [3]:
# set up the postgres engine
engine = create_engine('postgresql://root:root@localhost:5432/ny-taxi-db')

In [9]:
first = True
df_iter = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz', dtype=dtype, parse_dates=parse_dates, iterator=True, chunksize=100000)

for df_chunk in tqdm(df_iter):
    if first:
        df_chunk.head(0).to_sql(name='yellow_taxi_trips_2021_01', con=engine, if_exists='replace', index=False)
        first = False
        print('Table Created.')
    df_chunk.to_sql(name='yellow_taxi_trips_2021_01', con=engine, if_exists='append', index=False)

    print("Inserted:", len(df_chunk))

0it [00:00, ?it/s]

Table Created.
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 69765

In [4]:
# insert the zone data in postgres database ny-taxi-db
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv # ***** link is no longer valid *****
# !wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv # ---- this works ---- #

--2026-01-20 01:50:09--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.167.84.127, 3.167.84.228, 3.167.84.86, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.167.84.127|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2026-01-20 01:50:09 (31.4 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [23]:
# set up the postgres engine
engine = create_engine('postgresql://root:root@localhost:5432/ny-taxi-db')

In [4]:
dtype = {
    "LocationID": "Int64",
    "Borough": "string",
    "Zone": "string",
    "service_zone": "string"
}

df_zones = pd.read_csv('taxi_zone_lookup.csv', dtype=dtype)

In [21]:
# pd.io.sql.get_schema(df_zones, name="zones", con=engine)

In [5]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace', index=False)

265